//CHROME
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-button {
  width: 30px;
  height: 30px;
}
::-webkit-scrollbar-thumb {
  background: $clr-primary;
  border-radius: 9px;
s  &:hover{
    background: lighten($clr-primary,10);
  }
  &:active{
    background: darken($clr-primary,5);
  }
}
::-webkit-scrollbar-track {
  background: darken($clr-gray-light,5);
  border-radius: 9px;
  &:hover{
    background: lighten($clr-gray-light,10);
  }
  &:active{
    background: darken($clr-gray-light,15);
  }
}
::-webkit-scrollbar-corner {
  background: transparent;
}